{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('SetupGameModule.static', filename='css/datatables.css') }}">

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('SetupGameModule.static', filename='js/jquery-3.5.1') }}"></script>
<script type="text/javascript" src="{{ url_for('SetupGameModule.static', filename='js/jquery.dataTables.min.js') }}"></script>
{%endblock%}

{%block title%}OpenMafia - konfiguracja{%endblock%}

{%block main_content%}
<a href="../game_configuration">Powrót do głównego panelu</a>
<h3>Konfiguracja gry:</h3>
<form method="post" class="form form-horizontal" name="game_config">
    {{ wtf.form_errors(form,"only") }}
    {{ form.hidden_tag() }}
    {{ form.game_admin() }} Twórca zostaje mistrzem gry<br/>
    {{ form.detailed_lynch_results() }} Wyniki po linczu szczegółowe (kto na kogo)<br/>
    {{ form.lynch_voting_history() }} Głosowanie do linczu jawne na żywo<br/>
    {{ form.see_enrolled_user_list() }} Przed startem gry wyświetlaj wszystkim pełną listę zapisanych (zamiast ogólnej liczby)<br/>
    {{ form.initial_forum_turned_on() }} Włącz forum przed startem gry<br/>
    {{ form.citizen_forum_turned_on() }} Włącz forum miasta<br/>
    {{ form.creations_on() }} Włącz możliwość ustawiania kreacji (indywidualnych nazw graczy dla gry)<br/>
    <br />{{ form.lynch_draw.label }}<br />
    {% for subfield in form.lynch_draw %}
    {{ subfield }}
    {{ subfield.label }}<br />
    {% endfor %}<br />
    {{ form.lynch_blocked.label }}<br />
    {{ form.lynch_blocked(class='items') }}<br />
    {{ form.mafia_kill_blocked.label }}<br />
    {{ form.mafia_kill_blocked(class='items') }}<br />
    <div class="form-actions">
        <button name="action_game_config" type="submit" class="btn btn-primary">Zatwierdź</button>
    </div>
</form>
{%endblock%}
