{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('SetupGameModule.static', filename='css/styles.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('SetupGameModule.static', filename='js/scripts.js') }}"></script>
{%endblock%}

{%block title%}OpenMafia - {{ game.name }}{%endblock%}
{%block main_content%}

<h2>Witaj <b>{{ data['you'].name }}</b> w grze {{ game.name }}</h2>
<div class="tabs">
  <ul class="tab-nav">
    <li class="active" data-tab="lobby"><a href="#lobby">Lobby</a></li>
    <li data-tab="city"><a href="#city">Miasto</a></li>
    <li data-tab="roles"><a href="#roles">Rola</a></li>
    {% if 'mafioso' in data['your_privileges'] %}<li data-tab="mafia"><a href="#mafia">Mafia</a></li>{% endif %}
    {% if 'graveyard' in data['your_privileges'] %}<li data-tab="graveyard><a href="#graveyard">Cmentarz</a></li>{% endif %}
  </ul>
  <div class="tab-content">
    <div id="lobby" class="active">
      {% if game.status.name == 'finished' %}
        <div class="content-box">
          <h4>Gra zakończona!
          {% if 'citizen' in data['winners'] %}<br />Grę wygrywa miasto!{% endif %}
          {% if 'mafioso' in data['winners'] %}<br />Grę wygrywa mafia!{% endif %}
          </h4>
        </div>
      {% endif %}
        <div class="content-box">
          <h4>Doba {{ game.day_no }}, {{ game.phases[game.phase - 1].phase_name }}</h4>
          Koniec fazy dnia: {{ data['day_end'] }}<br />
          Koniec fazy nocy: {{ data['night_end'] }}<br />
        </div>
        <div class="content-box">
          <h4>Lista żyjących mieszkańców:</h4>
          <ul>
          {% if data['alive_players']|length > 0 %}
            {% for player in data['alive_players']  %}
                <li>{{ player.name }}
                {% if game.status.name == 'finished' %}
                  -
                  {% for role in player.roles %}
                  {{ role.role.visible_name }}
                  {% if loop.index < player.roles|length %}, {% endif %}
                  {% endfor %}
                {% endif %}
                </li>
            {% endfor %}
          {% else %}
            Wszyscy zginęli!
          {% endif %}
          </ul>
        </div>
        <div class="content-box">
          <h4>Lista martwych mieszkańców:</h4>
          <ul>
          {% if data['dead_players']|length > 0 %}
            {% for player in data['dead_players']  %}
                <li>{{ player.name }} -
                  {% for role in player.roles %}
                  {{ role.role.visible_name }}
                  {% if loop.index < player.roles|length %}, {% endif %}
                  {% endfor %}
                </li>
            {% endfor %}
          {% else %}
            Wszyscy żyją!
          {% endif %}
          </ul>
        </div>
      <div class="content-box">
        <h4>Historia miasta</h4>
        <ul>
       {% for history_event in data['history_events'] %}
          {% if history_event.event_type_tbl.name == 'lynch' %}
          <li>Dnia {{ history_event.day_no }} zlinczowany został <b>{{ history_event.target_player.name }}</b></li>
          {% elif history_event.event_type_tbl.name == 'mafia_kill' %}
            {% if history_event.target_player.name %}
              <li>Dnia {{ history_event.day_no }} zabity przez mafię został <b>{{ history_event.target_player.name }}</b></li>
            {% else %}
              <li>Dnia {{ history_event.day_no }} noc była spokojna i cicha. Podczas niej nikt nie zginął.</b></li>
            {% endif %}
          {% elif history_event.event_type_tbl.name == 'citizens_win' %}
          <li>Dnia {{ history_event.day_no }} grę wygrywa <b>miasto!</b></li>
          {% elif history_event.event_type_tbl.name == 'mafiosos_win' %}
          <li>Dnia {{ history_event.day_no }} grę wygrywa <b>mafia!</b></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <div id="city">
      <div class="content-box">
          <h4>Forum miasta</h4>
          <a href="./forum/citizen_thread">Otwórz</a>
      </div>
      <div class="content-box">
        {% if data['lynch_vote_day'] %}
        <h4>Wyniki głosowania z dnia {{ data['lynch_vote_day'] }}</h4>
        {% else %}
        <h4>Aktualne wyniki głosowania</h4>
        {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Kto</th>
              <th scope="col">Liczba głosów</th>
            </tr>
          </thead>
          <tbody>
          {% for citizen_actual_vote in data['vote_results'] %}
          <tr>
            <td>{{ citizen_actual_vote.name }}</td>
            <td>{{ data['vote_results'][citizen_actual_vote] }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="content-box">
        <h4>Historia głosowania:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Kto</th>
              <th scope="col">Głos na</th>
              <th scope="col">Godzina</th>
            </tr>
          </thead>
          <tbody>
          {% for citizen_vote in data['citizen_votes'] %}
          <tr>
            <td>{{ citizen_vote.source_player.name }}</td>
            <td>{{ citizen_vote.target_player.name }}</td>
            <td>{{ citizen_vote.timestamp.strftime('%Y.%m.%d %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="content-box">
        Zobacz głosowania z wcześniejszych dni<br />
        {% for n in range(game.day_no) %}
        {% if n+1 == game.day_no %}
          <a href="./lobby">{{ n+1 }}</a>
        {% else %}
          <a href="./lobby?lynch_vote_day={{ n+1 }}">{{ n+1 }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="roles">
      <div class="content-box">
        <h4>Twój status:
          {% if data['you'].status == 'alive' %}żywy
          {% elif data['you'].status == 'dead' %}martwy
          {% else %}nieokreślony
          {% endif %}
        </h4>
      </div>
        {% for r in data['you'].roles %}
        <div class="content-box">
          <h4>Twoja rola: {{ r.role.visible_name }}</h4>
          {{ r.role.description }}<br />
          {% include "roles/" + r.role.name + ".html" %}
        </div>
        {% endfor %}
    </div>
    {% if 'mafioso' in data['your_privileges'] %}
    <div id="mafia">
      <div class="content-box">
        Tajne miejsce obrad. Lista mafiozów:<br />
        <ul>
        {% for mafioso in data['mafiosos'] %}
        <li>{{ mafioso.name }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="content-box">
          <h4>Forum mafii</h4>
          <a href="./forum/mafioso_thread">Otwórz</a>
      </div>
    </div>
    {% endif %}
    {% if 'graveyard' in data['your_privileges'] %}
    <div id="graveyard">
      <div class="content-box">
        Cmentarz.
      </div>
      <div class="content-box">
          <h4>Forum cmentarza</h4>
          <a href="./forum/graveyard_thread">Otwórz</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{%endblock%}