{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('SetupGameModule.static', filename='css/styles.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('SetupGameModule.static', filename='js/scripts.js') }}"></script>
{%endblock%}

{%block title%}OpenMafia - {{ game.name }}{%endblock%}
{%block main_content%}
<div id="detailedInfoBox" class="hidden">
  <span id="detailedInfoContent"></span><br />
  <button onclick="hideDetailedInfo()">Zamknij</button>
</div>

<h2>Witaj <b>{{ data['you'].name }}</b> w grze {{ game.name }}</h2>
<div class="tabs">
  <ul class="tab-nav">
    <li class="active" data-tab="lobby"><a href="#lobby">Lobby</a></li>
    <li data-tab="city"><a href="#city">Miasto</a></li>
    <li data-tab="roles"><a href="#roles">Rola</a></li>
    {% if data['your_privileges']['mafia_tab_visible'].granted %}<li data-tab="mafia"><a href="#mafia">Mafia</a></li>{% endif %}
    {% if data['your_privileges']['graveyard_visible'].granted %}<li data-tab="graveyard"><a href="#graveyard">Cmentarz</a></li>{% endif %}
  </ul>
  <div class="tab-content">
    <div id="lobby" class="active">
      {% if game.status.name == 'finished' %}
        <div class="content-box">
          <h4>Gra zakończona!
          {% if 'citizen' in data['winners'] %}<br />Grę wygrywa miasto!{% endif %}
          {% if 'mafioso' in data['winners'] %}<br />Grę wygrywa mafia!{% endif %}
          </h4>
        {% if data['your_privileges']['show_judgement_summary'].granted %}
        <a href="{{url_for('SetupGameModule.judgement_summary', game_id=game.id)}}">Sprawdź oceny graczy!</a><br />
        {% endif %}
        </div>
      {% endif %}
        <div class="content-box">
          <h4>Doba {{ game.day_no }}, {{ game.phases[game.phase - 1].phase_name }}</h4>
          Koniec fazy dnia: {{ data['day_end'] }}<br />
          Koniec fazy nocy: {{ data['night_end'] }}<br />
          Teraz: {{ data['now'] }}<br/>
        </div>
        <div class="content-box">
          <h4>Lista żyjących:</h4>
          <ul>
          {% if data['alive_players']|length > 0 %}
            {% if data['your_privileges']['judge_players'].granted %}
              <form method="get" action="./judge">
              <div>
            {% endif %}
            {% for player in data['alive_players']  %}
                <li>
                  {% if data['your_privileges']['judge_players'].granted %}
                  <label class="radio-item">
                    <input type="radio" class="green" id="1_{{ player.id }}" name="{{ player.id }}" value="1"
                    {% if data['current_judgements'][player.id] %}
                      {% if data['current_judgements'][player.id] == 1 %}
                        checked="checked"
                      {% endif %}
                    {% endif %}>
                  </label>

                  <label class="radio-item">
                    <input type="radio" class="yellow" id="5_{{ player.id }}" name="{{ player.id }}" value="5"
                    {% if data['current_judgements'][player.id] %}
                      {% if data['current_judgements'][player.id] == 5 %}
                        checked="checked"
                      {% endif %}
                    {% endif %}>
                  </label>

                  <label class="radio-item">
                    <input type="radio" class="red" id="10_{{ player.id }}" name="{{ player.id }}" value="10"
                    {% if data['current_judgements'][player.id] %}
                      {% if data['current_judgements'][player.id] == 10 %}
                        checked="checked"
                      {% endif %}
                    {% endif %}>
                  </label>
                  {% endif %}
                {{ player.name }}
                {% if data['your_privileges']['see_roles_of_alive_players'].granted %}
                  -
                  {% for role in player.roles %}
                  {{ role.role.visible_name }}
                  {% if loop.index < player.roles|length %}, {% endif %}
                  {% endfor %}
                {% endif %}
                {% if data['your_privileges']['see_user_names_of_players'].granted %}
                  - <a href="{{url_for('User.user_main', user_id=player.user.id)}}">{{ player.user.name }}</a>
                {% endif %}
                {% if data['your_privileges']['kill_a_player_at_any_time'].granted %}
                  <a href="#" onclick='showDetailedInfo(`Czy na pewno chcesz go zabić?<br /><br /><a href="./kill_player/{{ player.id }}"><b>zabij</b></a>`)'>Zabij</a>

                {% endif %}
                {% if data['your_privileges']['choose_mvp'].granted %}
                    - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=1)}}">Wybierz jako MVP</a>`)'>Wybierz jako MVP</a>
                {% elif data['your_privileges']['choose_mvp2'].granted %}
                  - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=2)}}">Wybierz jako vice MVP</a>`)'>Wybierz jako vice MVP</a>
                {% elif data['your_privileges']['choose_mvp3'].granted %}
                  - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=3)}}">Wybierz jako drugi vice MVP</a>`)'>Wybierz jako drugi vice MVP</a>
                {% endif %}
                </li>
            {% endfor %}
          {% if data['your_privileges']['judge_players'].granted %}
              </div>
              <button type="submit">Zapisz typy</button>
              </form>
          {% endif %}
          {% else %}
            Wszyscy zginęli!
          {% endif %}
          </ul>
        </div>
      {% if data['your_privileges']['see_list_of_dead_people'].granted %}
        <div class="content-box">
          <h4>Lista martwych:</h4>
          <ul>
          {% if data['dead_players']|length > 0 %}
            {% for player in data['dead_players']  %}
                <li>{{ player.name }}
                  {% if data['your_privileges']['see_roles_of_dead_players'].granted %}
                    -
                    {% for role in player.roles %}
                      {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                        {{ role.role.visible_name }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% if data['your_privileges']['see_user_names_of_players'].granted %}
                    - <a href="{{url_for('User.user_main', user_id=player.user.id)}}">{{ player.user.name }}</a>
                  {% endif %}
                  {% if data['your_privileges']['revive_a_player_at_any_time'].granted %}
                    <a href="#" onclick='showDetailedInfo(`Czy na pewno chcesz go ożywić?<br /><br /><a href="./revive_player/{{ player.id }}"><b>ożyw</b></a>`)'>Ożyw</a>
                  {% endif %}
                  {% if data['your_privileges']['choose_mvp'].granted %}
                    - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=1)}}">Wybierz jako MVP</a>`)'>Wybierz jako MVP</a>
                  {% elif data['your_privileges']['choose_mvp2'].granted %}
                    - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=2)}}">Wybierz jako vice MVP</a>`)'>Wybierz jako vice MVP</a>
                  {% elif data['your_privileges']['choose_mvp3'].granted %}
                    - <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /> <a href="{{url_for("SetupGameModule.choose_mvp", game_id=game.id, player_id=player.id, rank=3)}}">Wybierz jako drugi vice MVP</a>`)'>Wybierz jako drugi vice MVP</a>
                  {% endif %}
                </li>
            {% endfor %}
          {% else %}
            Wszyscy żyją!
          {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if data['your_privileges']['see_list_of_special_people'].granted %}
        <div class="content-box">
          <h4>Lista gości specjalnych:</h4>
          <ul>
          {% if data['special_players']|length > 0 %}
            {% for player in data['special_players']  %}
                <li>{{ player.name }}
                  -
                  {% for role in player.roles %}
                    {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                      {{ role.role.visible_name }}
                    {% endif %}
                  {% endfor %}
                  {% if data['your_privileges']['see_user_names_of_players'].granted %}
                    - <a href="{{url_for('User.user_main', user_id=player.user.id)}}">{{ player.user.name }}</a>
                  {% endif %}
                </li>
            {% endfor %}
          {% else %}
            Wszyscy żyją!
          {% endif %}
          </ul>
        </div>
      {% endif %}
      <div class="content-box">
        <h4>Historia miasta</h4>
        <ul>
       {% for history_event in data['history_events'] %}
          {% if history_event.event_type_tbl.name == 'lynch' %}
          <li>Dnia {{ history_event.day_no }} zlinczowany został <b>{{ history_event.target_player.name }}</b>
            {% if data['your_privileges']['see_roles_of_dead_players'].granted %}
              -
              {% for role in history_event.target_player.roles %}
                {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                  {{ role.role.visible_name }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </li>
          {% elif history_event.event_type_tbl.name == 'mafia_kill' %}
            {% if history_event.target_player.name %}
              <li>Dnia {{ history_event.day_no }} zabity przez mafię został <b>{{ history_event.target_player.name }}</b>
                {% if data['your_privileges']['see_roles_of_dead_players'].granted %}
                  -
                  {% for role in history_event.target_player.roles %}
                    {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                      {{ role.role.visible_name }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </li>
            {% else %}
              <li>Dnia {{ history_event.day_no }} noc była spokojna i cicha. Podczas niej nikt nie zginął.</b></li>
            {% endif %}
          {% elif history_event.event_type_tbl.name == 'admin_kill' %}
          <li>Dnia {{ history_event.day_no }} administrator zabił gracza <b>{{ history_event.target_player.name }}</b>
            {% if data['your_privileges']['see_roles_of_dead_players'].granted %}
              -
              {% for role in history_event.target_player.roles %}
                {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                  {{ role.role.visible_name }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </li>
          {% elif history_event.event_type_tbl.name == 'admin_revive' %}
          <li>Dnia {{ history_event.day_no }} administrator ożywił gracza <b>{{ history_event.target_player.name }}</b></li>
          {% elif history_event.event_type_tbl.name == 'admin_block_lynch' %}
          <li>Dnia {{ history_event.day_no }} administrator zablokował lincz.</b></li>
          {% elif history_event.event_type_tbl.name == 'admin_block_mafia_kill' %}
          <li>Dnia {{ history_event.day_no }} administrator zablokował mord.</b></li>
          {% elif history_event.event_type_tbl.name == 'citizens_win' %}
          <li>Dnia {{ history_event.day_no }} grę wygrywa <b>miasto!</b></li>
          {% elif history_event.event_type_tbl.name == 'mafiosos_win' %}
          <li>Dnia {{ history_event.day_no }} grę wygrywa <b>mafia!</b></li>
          {% elif history_event.event_type_tbl.name == 'mvp_chosen' %}
          <li>Na MVP wybrany został {{ history_event.target_player.name }}</b>!</li>
          {% elif history_event.event_type_tbl.name == 'mvp2_chosen' %}
          <li>Na vice MVP wybrany został {{ history_event.target_player.name }}</b>!</li>
          {% elif history_event.event_type_tbl.name == 'mvp3_chosen' %}
          <li>Na drugiego vice MVP wybrany został {{ history_event.target_player.name }}</b>!</li>
          {% elif history_event.event_type_tbl.name == 'gun_shot_kill' %}
            <li>Dnia {{ history_event.day_no }} zabity przez strzał z pistoletu został <b>{{ history_event.target_player.name }}</b>
              {% if data['your_privileges']['see_roles_of_dead_players'].granted %}
                -
                {% for role in history_event.target_player.roles %}
                  {% if role.role.id not in data['roles_not_visible_after_death'] or game.status_id != 5 %}
                    {{ role.role.visible_name }}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if history_event.source_player %}
              - zabójcą jest <b>{{ history_event.source_player.name }}</b>
              {% endif %}
            </li>
          {% elif history_event.event_type_tbl.name == 'lynch_draw_noone' %}
          <li>Dnia {{ history_event.day_no }} przez remis w głosowaniu nikt nie został zlinczowany.</b></li>
          {% elif history_event.event_type_tbl.name == 'lynch_draw_mafia_choice' %}
          <li>Dnia {{ history_event.day_no }} przez remis w głosowaniu mafia zadecyduje, kto zostanie zlinczowany.</b></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <div id="city">
      {% if data['your_privileges']['citizen_forum_read'].granted %}
        <div class="content-box">
            <h4>Forum miasta</h4>
            <a href="./forum/citizen_thread">Otwórz</a>
        </div>
      {% endif %}
      {% if data['your_privileges']['see_detailed_lynch_results'].granted %}
      <div class="content-box">
        {% if (data['lynch_vote_day'] != game.day_no|string and data['lynch_vote_day']) %}
        <h4>Wyniki głosowania z dnia {{ data['lynch_vote_day'] }}</h4>
        {% else %}
        <h4>Aktualne wyniki głosowania</h4>
        {% endif %}
        {% if (data['your_privileges']['see_history_of_lynch_voting'].granted) or (game.phase == 2) or (data['lynch_vote_day'] != game.day_no|string and data['lynch_vote_day']) %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Kto</th>
              <th scope="col">Liczba głosów</th>
              <th scope="col">Głosujący</th>
            </tr>
          </thead>
          <tbody>
          {% for citizen_actual_vote in data['vote_results'] %}
          <tr>
            <td>{{ citizen_actual_vote.name }}</td>
            <td>{{ data['vote_results'][citizen_actual_vote]|length }}</td>
            <td>{% for vote in data['vote_results'][citizen_actual_vote] %}{% if not loop.first %}, {% endif %}{{ vote }}{% endfor %}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        Niejawne głosowanie w trakcie...
        {% endif %}
      </div>
      {% endif %}
      {% if data['your_privileges']['see_history_of_lynch_voting'].granted %}
      <div class="content-box">
        <h4>Historia głosowania:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Kto</th>
              <th scope="col">Głos na</th>
              <th scope="col">Godzina</th>
            </tr>
          </thead>
          <tbody>
          {% for citizen_vote in data['citizen_votes'] %}
          <tr>
            <td>{{ citizen_vote.source_player.name }}</td>
            <td>{{ citizen_vote.target_player.name }}</td>
            <td>{{ citizen_vote.timestamp.strftime('%Y.%m.%d %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if data['your_privileges']['see_detailed_lynch_results'].granted %}
      <div class="content-box">
        Zobacz głosowania z wcześniejszych dni<br />
        {% for n in range(game.day_no) %}
        {% if n+1 == game.day_no %}
          <a href="./lobby">{{ n+1 }}</a>
        {% else %}
          <a href="./lobby?lynch_vote_day={{ n+1 }}">{{ n+1 }}</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div id="roles">
      <div class="content-box">
        <h4>Twój status:
          {% if data['you'].status == 'alive' %}żywy
          {% elif data['you'].status == 'dead' %}martwy
          {% else %}nieokreślony
          {% endif %}
        </h4>
      </div>
        {% for r in data['you'].roles %}
          {% if r.role.name not in ['suspect'] %}
            <div class="content-box">
              <h4>Twoja rola: {{ r.role.visible_name }}</h4>
              {{ r.role.description }}<br />
              {% include "roles/" + r.role.name + ".html" ignore missing %}
            </div>
          {% endif %}
        {% endfor %}
        {% for i in data['you'].items %}
          {% if i.usages_left != 0 %}
            <div class="content-box">
              <h4>Posiadasz przedmiot: {{ i.item.visible_name }}</h4>
              {{ i.item.description }}<br />
              {% include "items/" + i.item.name + ".html" ignore missing %}
            </div>
          {% endif %}
        {% endfor %}

    </div>
    {% if data['your_privileges']['mafia_tab_visible'].granted %}
    <div id="mafia">
      <div class="content-box">
        Tajne miejsce obrad. Lista mafiozów:<br />
        <ul>
        {% for mafioso in data['mafiosos'] %}
        <li>{{ mafioso.name }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="content-box">
          <h4>Forum mafii</h4>
          <a href="./forum/mafioso_thread">Otwórz</a>
      </div>
    </div>
    {% endif %}
    {% if data['your_privileges']['graveyard_visible'].granted %}
    <div id="graveyard">
      <div class="content-box">
        Cmentarz.
      </div>
      <div class="content-box">
          <h4>Forum cmentarza</h4>
          <a href="./forum/graveyard_thread">Otwórz</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{%endblock%}