<h4>Głosowanie miasta w sprawie linczu</h4>
{% if data['you'].status == 'alive' and game.status.name == 'in_progress' and game.phase == 1 %}
<form action="./create_event/citizen_vote" method="post" class="form form-horizontal" name="citizen_form">
    {{ wtf.form_errors(form,"only") }}
    {{ form.hidden_tag() }}
    Głosuję na {{ form.target }}<br />
    <div class="form-actions">
        <button name="action_citizen" type="submit" class="btn btn-primary">Wyślij głos</button>
    </div>
    {% endif %}
    {% if data['your_actual_citizen_vote'] is not none %}
    Aktualnie wybrany cel: {{ data['your_actual_citizen_vote'].name }}
    {% endif %}
</form>