<form action="./add_game_guest">
    <label for="user_name">Obserwator do dodania</label>
    <input id="user_name" name="user_name" />
    <input type="submit" value="Dodaj obserwatora"/>
</form><br />

<h4>Uwaga! Ten panel umożliwia dokonywanie krytycznych wyborów z punktu widzenia gry. Korzytaj z niego bardzo ostrożnie!</h4>
{% if data['your_privileges']['block_lynch'].granted %}
    <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /><a href="./block_event/lynch">Zablokuj dzisiejszy lincz</a><br />`)'>Zablokuj dzisiejszy lincz</a>
{% endif %}
{% if data['your_privileges']['block_mafia_kill'].granted %}
    <a href="#" onclick='showDetailedInfo(`Czy na pewno?<br /><br /><<a href="./block_event/mafia_kill">Zablokuj dzisiejszy mord</a><br />`)'>Zablokuj dzisiejszy mord</a>
{% endif %}
{% if data['your_privileges']['reverting_game'].granted %}
    <a href="./revert_game">Cofnij grę do stanu sprzed startu</a><br />
{% endif %}
{% if data['your_privileges']['speeding_up_game'].granted %}
Modyfikacja czasu gry (przyspieszanie/opóźnianie zdarzeń). Dodajesz lub odejmujesz od ustawionej daty wszystkich zdarzeń.
Np. żeby przyspieszyć lincz i mord o 2 godziny, w pierwszym polu musisz wpisać -2. Żeby opóźnić o 2 godziny: 2.
Uwaga! Żeby przyspieszyć o 1,5 godziny, w pierwszym polu wpisujemy -1, a w drugim -30 (minuty również z minusem!).<br />
HH:MM
<form action="./speed_up_game" method="post" class="form form-horizontal" name="speedup_form">
    {{ wtf.form_errors(time_form,"only") }}
    {{ time_form.hidden_tag() }}
    {{ time_form.duration_hours }}:{{ time_form.duration_minutes }}
    <div class="form-actions">
        <button name="action_speedup" type="submit" class="btn btn-primary">Przyspiesz grę</button>
    </div>
</form>
{% endif %}
{% if data['your_privileges']['event_history_read'].granted %}
<a href="./event_history"><b>Przeglądaj historię zdarzeń w grze</b></a><br />
{% endif %}