<h4>Głosowanie miasta w sprawie linczu</h4>
{% if data['your_privileges']['citizen_vote'].granted %}
<form action="./create_event/citizen_vote" method="post" class="form form-horizontal" name="citizen_form">
    {{ wtf.form_errors(form,"only") }}
    {{ form.hidden_tag() }}
    Głosuję na {{ form.target }}<br />
    <div class="form-actions">
        <button name="action_citizen" type="submit" class="btn btn-primary">Wyślij głos</button>
    </div>
</form>
{% endif %}
{% if data['your_actual_citizen_vote'] is not none %}
    Aktualnie wybrany cel: {{ data['your_actual_citizen_vote'].name }}
{% else %}
    Brak wysłanego głosu!
{% endif %}

<h4>Wybieranie celu nocnego morderstwa</h4>
{% if data['your_privileges']['mafia_kill_vote'].granted %}
<form action="./create_event/mafia_kill_vote" method="post" class="form form-horizontal" name="mafia_kill_form">
    {{ wtf.form_errors(form,"only") }}
    {{ form.hidden_tag() }}
    Wybieram {{ form.target }}<br />
    <div class="form-actions">
        <button name="action_mafioso" type="submit" class="btn btn-primary">Wyślij głos</button>
    </div>
</form>
{% endif %}
{% if data['mafia_actual_target'] is not none %}
    Aktualnie wybrany cel: {{ data['mafia_actual_target'].name }}
{% else %}
    Brak aktualnie wybranego celu!
{% endif %}
