.alert {
  padding: 10px 15px; /* wewnętrzny padding dla miejsca na treść alertu */
  margin-bottom: 10px; /* margines od elementów poniżej */
  border: 1px solid transparent; /* domyślnie brak obramowania */
  border-radius: 4px; /* zaokrąglenie rogów */
  text-align: center; /* wyśrodkowanie tekstu */
  display: flex; /* ustawienie flexboxa */
  justify-content: center; /* wyśrodkowanie tekstu w pionie */
  align-items: center; /* wyśrodkowanie tekstu w poziomie */
  position: relative;
}

/* Style dla alertu typu sukces */
.alert-success {
  color: #155724; /* kolor tekstu */
  background-color: #d4edda; /* kolor tła */
  border-color: #c3e6cb; /* kolor obramowania */
}

/* Style dla alertu typu ostrzeżenie */
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

/* Style dla alertu typu błąd */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Style dla alertu typu notyfikacja */
.alert-notification {
  color: #0b5394;
  background-color: #cfe2f3;
  border-color: #9fc5e8;
}

.close {
  position: absolute; /* ustawienie pozycji dla przycisku "x" */
  top: 0;
  right: 0;
  padding: 5px 10px !important;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* płynna animacja */
}

.close:hover {
  color: #ff0000; /* zmiana koloru po najechaniu myszą */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-size: small;
}
@media (min-width: 768px) {
body  {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
      /*background-image: url(/static/images/base-background.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center top;
      background-attachment: fixed;*/
      background-color: rgb(230, 212, 188);
      height: 100vh;
    }
}
@media (max-width: 768px) {
body  {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
      /*background-image: url(/static/images/base-background.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 70% top;
      background-attachment: fixed;*/
      background-color: rgb(230, 212, 188);
      height: 100vh;
    }
}

    .container {
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      opacity: 0.8;
    }

    h1 {
      color: #333333;
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    h2 {
      color: #333333;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      color: #666666;
      font-size: 16px;
      line-height: 1.5;
      text-align: justify;
    }

    .register {
      background-color: #ffcc00;
      color: #ffffff;
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .login {
      background-color: #333333;
      color: #ffffff;
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }

a .navbar-brand {
padding: 0px;
}

    .discord {
        padding-left: 50px;
        height: 1.25em;

    }
    .mafiacorner {
        padding-left: 50px;
        height: 1.25em;
        padding-right: 5px;
    }

    .zrzutka {
        padding-left: 50px;
        height: 1.25em;
        padding-right: 5px;
    }

    .ref-links a {
      color: black;
      font-weight: bold;
    }