tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-nav li {
  display: inline-block;
  min-width: 10%;
}

.tab-nav > li:last-child {
  margin-right: 0;
}

.tab-nav li a {
  display: block;
  padding: 10px;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-nav li.active a {
  border: 1px solid #ddd;
  border-bottom: none;
  position: relative;
  z-index: 1;
  background-color: #fcfcfc;
}

.tab-nav > li.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  background-color: #fcfcfc;
}

.tab-content > div {
  display: none;
}

.tab-content > div.active {
  display: block;
}

.tab-nav > li {

  margin-bottom: -1px;
}

.tab-nav > li.active {
  border-bottom: none;
  margin-bottom: -1px;
}

.content-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 80%
}

.tab-content .content-box:last-of-type {
    margin-bottom: 0px;
}

.form-control {
    width: auto;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}




.post {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-login {
  font-weight: bold;
}

.post-date {
  color: #777;
}

.post-content {
  line-height: 1.5;
}

.post-quote {
      background-color: #eaeaea;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

.post-bg-citizen_thread {
    background-color: white
}

.post-bg-mafioso_thread {
    background-color: #CD5C5C
}

.post-bg-graveyard_thread {
    background-color: silver
}


input[type='radio']::after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

input[type='radio']::checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio'] {
  -moz-appearance:initial
}

.red::after {
    background-color: wheat;
}

.yellow::after {
    background-color: LemonChiffon;
}

.green::after {
    background-color: PaleGreen;
}

.red:checked::after {
    background-color: red;
}

.yellow:checked::after {
    background-color: yellow;
}

.green:checked::after {
    background-color: green;
}

#detailedInfoBox {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 5;
    border-radius: 15px;
}

#detailedInfoBox button {
    margin-top: 10px;
}

.positive {
    color: green;
}

.judgement {
    font-weight: bold;
}

.negative {
    color: red;
}

.lobby_day {
      background-image: url(/static/images/lobby_day.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 100% top;
      background-attachment: fixed;
}

.lobby_night {
      background-image: url(/static/images/lobby_night.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 100% top;
      background-attachment: fixed;
}

.city {
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 100% top;
      height: 400px;
      padding: 0px !important;
}

.role {
      background-image: url(/static/images/role.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 100% top;
      background-attachment: fixed;
}

.mafia {
      background-image: url(/static/images/mafia.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 100% top;
      background-attachment: fixed;
}

.graveyard {
      background-image: url(/static/images/graveyard.jpg);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 100% top;
      background-attachment: fixed;
}