{% extends "base.html" %}
{%block title%}OpenMafia - strona główna{%endblock%}

{%block main_content%}

<div>
	<h1>Licencje i referencje</h1>
	<p><a href="https://www.freepik.com/free-photo/concept-search-young-stylish-girl-detective-clothing-looking-through-magnifying-glass-big-eye_34400377.htm#query=woman%20detective&position=0&from_view=search&track=ais">Image by benzoix</a> on Freepik</p>
</div>
<div>
	{% if not current_user.is_authenticated %}
		<div class="register"><a href="/signup">Zarejestruj się już teraz!</a></div>
		<div class="login"><a href="/login">Zaloguj się</a></div>
	{% endif %}
</div>
{%endblock%}
