{% extends "base.html" %}
{%block title%}OpenMafia - strona główna{%endblock%}

{%block main_content%}

<div class="main_page">
	<h1>Dział pomocy</h1>
	<p>Na tej stronie znajdziesz wszystkie możliwe opcje konfiguracyjne oraz role.</p>

	<h2>Rodzaje gier</h2>
	<div>
		Gry dzielą się na trzy grupy: classic, rapid i bullet. Żeby gra była zaklasyfikowana do kategorii classic,
		musi w niej uczestniczyć minimum 10 graczy, a czas trwania doby mafijnej musi wynosić minimum 24 godziny.
		Żeby gra widniała jako rapid, nie może spełniać powyższych warunków, ale musi w niej uczestniczyć minimum
		5 graczy, a czas trwania doby mafijnej musi wynosić minimum 30 minut. Jeżeli gra nie spełnia również tych
		warunków, zostanie sklasyfikowana jako bullet.<br />
		Aktualnie nie ma rozróżnienia pomiędzy grami rapid i bullet. Ich wyniki nie zapisują się nigdzie. Gry typu
		classic pojawiają się w profilach graczy, a także są wliczane do rankingu.<br />
	</div>
	<h2>Konfiguracje gier</h2>
	<div>
		Będąc stwórcą gry, przed jej startem można kliknąć "skonfiguruj grę", aby przejść do ustawień.<br />
		<b>"Twórca zostaje mistrzem gry"</b> - gdy opcja jest wybrana, gracz ma bardzo duże możliwości ingerencji w grę, m. in.
		zna wszystkie dostępne role, może usuwać wszystkie akcje, automatyczne i ręczne, może zabijać i ożywiać graczy,
		itd. Gdy opcja jest odznaczona, po starcie gry stwórca gry staje się zwyczajnym graczem i nie ma już żadnych
		dodatkowych opcji, może w pełni uczestniczyć w grze jako gracz.<br />
		<b>"Wyniki po linczu szczegółowe (kto na kogo)"</b> - po zakończeniu głosowania na lincz wyniki odsłonią się, by
		pokazać, kto na kogo oddał głos. Gdy opcja jest odznaczona, wyniki pozostaną tajne na zawsze.<br />
		<b>"Głosowanie do linczu jawne na żywo"</b> - już w trakcie głosowania pojawia się specjalna tabela ukazująca, kto
		oddał głos na kogo i o której godzinie.<br />
		<b>"Przed startem gry wyświetlaj wszystkim pełną listę zapisanych (zamiast ogólnej liczby)"</b> - gdy opcja jest
		zaznaczona, wszyscy widzą kto dokładnie jest zapisany. Gdy opcja jest odznaczona, jedynie mistrz gry ma taką
		wiedzę (chyba, że opcja "Twórca zostaje mistrzem gry" jest odznaczona, wtedy nikt nie ma takiej wiedzy.
		Pozostali gracze znają tylko ogólną liczbę zapisanych do gry.<br />
		<b>"Włącz forum przed startem gry"</b> - pojawi się specjalne forum widoczne tylko przed startem gry, do dyskusji
		dostępne tylko dla zapisanych graczy.<br />
		<b>"Włącz forum miasta"</b> - po rozpoczęciu gry pojawi się forum do dyskusji dla wszystkich uczestników gry. <br/>
		<b>"Włącz możliwość ustawiania kreacji (indywidualnych nazw graczy dla gry)"</b> - gdy opcja jest zaznaczona, gracze
		po zapisaniu otrzymają dostęp do specjalnego formularza, w którym mogą wpisać dowolną nazwę (kreację). Pod
		tą kreacją będą wyświetlać się przez całą grę wszystkim jej uczestnikom. Jedynie mistrz gry będzie miał wiedzę,
		kto kryje się pod jaką kreacją. Po zakończeniu gry wiedza ta zostanie ujawniona również wszystkim. <br />
		<b>"Zachowanie w przypadku remisu w głosowaniu linczowym"</b> - gdyby zdarzyło się, że w głosowaniu miasta do linczu
		wystąpi remis, możliwe są trzy scenariusze:<br />
		- <i>"Ginie losowa osoba"</i> - natychmiastowo zginie jeden ze "zwycięzców" głosowania,<br />
		- <i>"Nikt nie ginie"</i> - lincz się nie odbywa, pojawia się odpowiedni komunikat o braku linczu <br />
		- <i>"Mafia wybiera"</i> - pojawia się komunikat o remisie i mafiozi otrzymują dodatkowy formularz w zakładce swojej
		roli, działający analogicznie do mordu - wspólnie wybierają i zmieniają cel linczu, wybierać mogą tylko spośród
		"zwycięzców" głosowania. Koniec ich wyboru i lincz odbywa się równo w połowie nocy, ale nie później niż 30 minut
		po końcu fazy dnia (np. jeśli noc trwa 20 minut, głosowanie trwa 10 minut, jeśli noc trwa 3 godziny, głosowanie
		trwa 30 minut).<br />
		<b>"Dni w których lincz będzie zablokowany"</b> - do wyboru są pola wielokrotnego wyboru, dni od 1 do 6. Jeśli dany
		dzień zostanie wybrany, na jego początku pojawi się automatyczne zablokowanie linczu, tak jakby to administrator
		ręcznie zablokował lincz.<br />
		<b>"Dni w których mord będzie zablokowany"</b> - analogicznie do linczu, ale dotyczy mordu.<br />
	</div>
	<h2>Role</h2>
	<div>
		Każdy gracz otrzymuje na starcie przynajmniej jedną rolę. Jeżeli założyciel gry zdecyduje o użyciu innych
		ról niż <b>mieszkaniec</b> i <b>mafiozo</b>, role te i tak zostaną przypisane do gracza jako jedyne role,
		które posiadają warunek wygranej. Np. po wylosowaniu roli <b>detektyw</b> gracz otzyma dwie role: <b>detektyw</b>
		 oraz <b>mieszkaniec</b><br />
		Lista ról miejskich<br />
		<b>mieszkaniec</b> - podstawowa rola bezrolnego miastowego (villager, townie). Jego umiejętnością jest możliwość
		głosowania w linczu. Każdego dnia gracz z największą liczbą głosów na koniec fazy dnia jest zabijany.<br />
		<b>detektyw</b> - codziennie wybiera jednego z żyjących graczy. Na koniec fazy nocy otrzymuje informację,
		czy wybrany gracz posiada rolę <b>mafiozo</b>.<br />
		<b>opryszek</b> - jego rola jest dla niego niewidoczna. W przypadku wybrania go przez detektywa, pokazuje się
		mu jako <b>mafiozo</b><br />
		<b>ksiądz</b> - codziennie wybiera jednego z żyjących graczy. Jeżeli wybrany gracz jest celem mordu mafii,
		mord ten nie dochodzi do skutku i noc kończy się bez dokonanego mordu. Nie ma powszechnej informacji, czy ksiądz
		wybronił mord, czy może mafia zrezygnowała z jego wykonania.<br />
		<b>snajper</b> - na początku gry otrzymuje <b>pistolet</b> ze zdefiniowaną liczbą strzałów, z czego
		codziennie może użyć tylko jednego. Posiada konfiguracje: <br/>
		<i>Dostępnych strzałów</i> - określa, ile <b>pistoletów</b> otrzymuje snajper wraz ze startem gry.<br />
		<i>Blokada i odsłonięcie roli po zabiciu niewinnego.</i> - jeśli aktywna, w przypadku zabicia gracza z rolą
		<b>mieszkaniec</b>, liczba dostępnych pistoletów redukuje się do zera, a wszyscy gracze otrzymują informację,
		kto jest snajperem.<br />
		<b>barman</b> - codziennie wybiera jednego z żyjących graczy. Jeżeli wybrana osoba ma rolę <b>mafiozo</b>,
		mord najbliższej fazy nocy nie odbędzie się na wybranym graczu, ale zostanie wybrany losowo spośród pozostałych
		graczy <b>mieszkańców</b>, którzy nie posiadają innych ról. Dodatkowo posiada konfiguracje<br />
		<i>Barman oprócz mordu mafii, upija również role miejskie i mafijne.</i> - jeśli wybrane, wszystkie cele nocne
		wybranego gracza są wybierane losowo spośród pozostałych graczy, nawet jeśli gracz nie posiada roli
		<b>mafiozo</b>.<br />
		<br />
		Lista ról mafijnych:<br />
		<b>mafiozo</b> - ma dwie umiejętności. Pierwsza pokrywa się z umiejętnością roli <b>mieszkaniec</b>. Druga to
		okno wyboru celu mordu. Okno to jest wspólne dla wszystkich mafiozów. Wybrany żywy gracz wraz z końcem fazy
		nocy jest zabijany przez mafię.<br/>
		<b>szpieg</b> - codziennie wybiera jednego z żyjących graczy. Na koniec fazy nocy otrzymuje informację, czy
		wybrany gracz posiada rolę inną niż <b>mieszkaniec</b>. Informacja to "rolny" lub "bezrolny". Dodatkowo:<br />
		<i>Szpieg otrzymuje informację o dokładniej roli zamiast ogólnej informacji rolny/bezrolny.</i><br />
		<i>Właściciel roli szpiega może być zmieniony do końca pierwszego dnia.</i> - mafia otrzymuje wspólny formularz,
		w którym właściciel roli może zostać zmieniony z wybranego losowo na dowolnego innego <b>mafioza</b>.
		W szczególności, jeden <b>mafiozo</b> może posiadać kilka ról jednocześnie.<br />
		<b>ojciec chrzestny</b> - pasywna rola, która ma znaczący wpływ na część ról miejskich. W przypadku sprawdzania
		ojca chrzestnego przez <b>detektywa</b>, ojciec chrzestny pojawi się jako niewinny mieszkaniec. Jeżeli
		<b>barman</b> spróbuje upić ojca chrzestnego, upicie nie zadziała. Jeżeli <b>ksiądz</b> za cel modliwy wybierze
		ojca chrzestnego, ojciec chrzestny otrzyma informację o tym, kto jest księdzem.<br />
		<br />
		Lista przedmiotów:<br />
		<b>Pistolet</b> - posiada zdefiniowaną liczbę strzałów. Każdego dnia może wybrać jednego z żyjących graczy,
		który w fazie nocy zostanie zabity. Zużywa to jeden strzał pistoletu.<br />
		<br />
		Kolejność wykonywania akcji w nocy:<br />
		(Jeśli bardziej priorytetowa akcja uniemożliwi wykonanie mniej priorytetowej, ta druga nie dojdzie do skutku)<br />
		- Lincz (koniec dnia)<br />
		- Wybór celu linczu przez mafię (połowa nocy)<br />
		- Upijanie przez barmana (koniec nocy)<br />
		- Strzał snajperski (koniec nocy)<br />
		- Mord mafii (koniec nocy)<br />
		- Sprawdzenie detektywa (koniec nocy)<br />
		- Sprawdzenie szpiega (koniec nocy)<br />
	</div>
</div>

{%endblock%}
